@{
    ViewBag.Title = "Home Page";
    int widthImg = 100;
}

<body class="">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img style="width:@(widthImg)%;" src="~/Content/ImgProgetto/bartoliniHome.png" />
            </div>
            <div class="col-4 d-flex flex-column justify-content-center">
                <h1 class="text-center">- Spedizioni Internazionali</h1>
                <h1 class="text-center">- Servizi di Logistica</h1>
                <img style="width:@(widthImg)%;" src="~/Content/ImgProgetto/spedizione-assicurata_89.png" />
            </div>
        </div>
    </div>
</body>